Basic
Message component requires a content to display. The severity option specifies the type of the message. The icon option is used to specify the icon to display in the message.
<p-message severity="success">Success Message</p-message>
<p-message severity="info">Info Message</p-message>
<p-message severity="warn">Warn Message</p-message>
<p-message severity="error">Error Message</p-message>
<p-message severity="secondary">Secondary Message</p-message>
<p-message severity="contrast">Contrast Message</p-message>

Icon
The icon option is used to specify the icon to display in the message.
<p-message severity="info" icon="pi pi-send" text="Info Message" styleClass="h-full" />


Outlined
Configure the variant value as outlined for messages with borders and no background.
<p-message severity="success" variant="outlined">Success Message</p-message>


Closable
Enable closable option to display an icon to remove a message.
<p-message closable>Closable Message</p-message>


Dynamic
Multiple messages can be displayed using the standard for block.
<div class="card flex flex-col items-center justify-center gap-4">
    <div class="flex gap-2">
        <p-button label="Show" (onClick)="addMessages()" />
        <p-button label="Clear" severity="secondary" (onClick)="clearMessages()" />
    </div>
    <div class="flex flex-col">
        @for (message of messages(); track message; let first = $first) {
            <p-message [severity]="message.severity" [text]="message.content" [ngClass]="{ 'mt-4': !first }" />
        }
    </div>
</div>