<div class="button-section">
    <h2 class="text-3xl">Button Section</h2>
    <div class="card">
        <p-button label="Primary" />
        <p-button label="Secondary" severity="secondary" />
        <p-button label="Success" severity="success" />
        <p-button label="Info" severity="info" />
        <p-button label="Warn" severity="warn" />
        <p-button label="Help" severity="help" />
        <p-button label="Danger" severity="danger" />
        <p-button label="Contrast" severity="contrast" />
    </div>
    <div class="card">
        <p-button label="Primary" variant="text" />
        <p-button label="Secondary" variant="text" severity="secondary" />
        <p-button label="Success" variant="text" severity="success" />
        <p-button label="Info" variant="text" severity="info" />
        <p-button label="Warn" variant="text" severity="warn" />
        <p-button label="Help" variant="text" severity="help" />
        <p-button label="Danger" variant="text" severity="danger" />
        <p-button label="Plain" variant="text" />
    </div>
    <div class="card">
        <p-button label="Primary" variant="text" [raised]="true" />
        <p-button label="Secondary" variant="text" [raised]="true" severity="secondary" />
        <p-button label="Success" variant="text" [raised]="true" severity="success" />
        <p-button label="Info" variant="text" [raised]="true" severity="info" />
        <p-button label="Warn" variant="text" [raised]="true" severity="warn" />
        <p-button label="Help" variant="text" [raised]="true" severity="help" />
        <p-button label="Danger" variant="text" [raised]="true" severity="danger" />
        <p-button label="Plain" variant="text" [raised]="true" />
    </div>
    <div class="card">
        <p-button label="Primary" variant="outlined" />
        <p-button label="Secondary" variant="outlined" severity="secondary" />
        <p-button label="Success" variant="outlined" severity="success" />
        <p-button label="Info" variant="outlined" severity="info" />
        <p-button label="Warn" variant="outlined" severity="warn" />
        <p-button label="Help" variant="outlined" severity="help" />
        <p-button label="Danger" variant="outlined" severity="danger" />
        <p-button label="Contrast" variant="outlined" severity="contrast" />
    </div>
</div>