<!-- Basic
Content of the badge is specified using the value property. -->
<p-badge value="2" />


<!-- Directive
Content of the badge is specified using the value property. -->
<i class="pi pi-bell text-3xl" pBadge value="2"></i>


<!-- Severity
Severity defines the color of the badge, possible values are success, info, warn and danger -->
<div class="card flex justify-center gap-2">
    <p-badge [value]="2" severity="success" />
    <p-badge [value]="9" severity="info" />
    <p-badge [value]="3" severity="warn" />
    <p-badge [value]="9" severity="danger" />
</div>