<!-- Basic
Two-way value binding is defined using ngModel. -->
<p-password [(ngModel)]="value" [feedback]="false" />

Toggle Mask
When toggleMask is present, an icon is displayed to show the value as plain text.
<p-password [(ngModel)]="value" [toggleMask]="true" />


<!-- Template
3 templates are included to customize the overlay. These are header, content and footer. Note that content overrides the default meter. -->
<p-password [(ngModel)]="value" autocomplete="off">
    <ng-template #header>
        <div class="font-semibold text-xm mb-4">Pick a password</div>
    </ng-template>
    <ng-template #footer>
        <p-divider />
        <ul class="pl-2 ml-2 my-0 leading-normal">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
        </ul>
    </ng-template>
</p-password>


<!-- Float Label
A floating label appears on top of the input field when focused. Visit FloatLabel documentation for more information. -->
<p-floatlabel>
    <p-password [(ngModel)]="value1" inputId="over_label" />
    <label for="over_label">Over Label</label>
</p-floatlabel>
<p-floatlabel variant="in">
    <p-password [(ngModel)]="value2" inputId="in_label" />
    <label for="in_label">In Label</label>
</p-floatlabel>
<p-floatlabel variant="on">
    <p-password [(ngModel)]="value3" inputId="on_label" />
    <label for="on_label">On Label</label>
</p-floatlabel>


<!-- Sizes
Password provides small and large sizes as alternatives to the base. -->
<p-password [(ngModel)]="value1" type="text" size="small" placeholder="Small" />
<p-password [(ngModel)]="value2" type="text" placeholder="Normal" />
<p-password [(ngModel)]="value3" type="text" size="large" placeholder="Large" />


<!-- Invalid
Invalid state style is added using the ng-invalid and ng-dirty class to indicate a failed validation. -->
<p-password [(ngModel)]="value" class="ng-invalid ng-dirty" placeholder="Password" />


<!-- Disabled
When disabled is present, the element cannot be edited and focused. -->
<p-password [(ngModel)]="value" [disabled]="true" placeholder="Disabled" />