<div class="calendar-section">
    <h2 class="text-3xl">Calendar Section</h2>
    <div class="calendar-container">
        <div class="calendar-item">
            <h3>Basic DatePicker:</h3>
            <p-datepicker [(ngModel)]="date" [showIcon]="true" [inputStyle]="{ width: '200px' }"></p-datepicker>
        </div>
        <div class="calendar-item">
            <h3>Range DatePicker:</h3>
            <p-datepicker [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" [inputStyle]="{ width: '200px' }"></p-datepicker>
        </div>
    </div>
</div> 